.eyeshadow_img {
    width: 1.5%;
    height: 1.5%;
    margin-right: 91%;
    margin-bottom: .5%;
    float: right
}

.eyeshadow_color {
    margin-left: -2.5%;
}

.form-group {
    width: 15%;
}

.link_undertone {
    width: 175%;
    margin-left: -25%
}

.btn-primary{
    width: 15%
}

.btn-eyeshadow{
    width: 10%
}

.featuresForm {
    background: rgba(0,0,0,0.74) none no-repeat scroll 0 0;
    color: white;
    width: 90%;
    margin-left: 8%;
    margin-bottom: -10%;

}

.color_categories {
    margin-left: 45%;
    width: 120%
}

.eyeshadow__title {
    margin-top: 10%
}
.color_categories {
    margin-top: 2%;
    
}