
.services-submenu {
    width: 10%;
    position: absolute;
    top: 7.5%;
    list-style: none;
    right: 40%;
    text-align: center;
  }
  
  .services-submenu li {
    background: #E2E9FF;
    cursor: pointer;
    text-align: center;
  }
  
  .services-submenu li a:hover {
    background: rgb(27, 46, 46);
    text-align: center;
    width: auto
    
  }
  
  .services-submenu.clicked {
    display: none;
  }
  
  .submenu-item {
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 2%;

    
  }

  .dropdown_select {
    display: flex;
    margin-left: 15px;


  }
  
