
.services-submenu {
    width: 20.2%;
    position: absolute;
    margin-top: .3%;
    list-style: none;
    margin-left: -3%;
    text-align: center;
  }
  
  .services-submenu li {
    background: #E2E9FF;
    cursor: pointer;
    width: 45%;
    margin-left: .5%;
  }
  
  .services-submenu li a:hover {
    background: rgb(201, 167, 198);
    text-align: center;
    width: auto
    
  }
  
  .services-submenu.clicked {
    display: none;
  }
  
  .submenu-item {
    display: block;
    width: 20%;
    text-decoration: none;
    color: rgb(0, 0, 0);

    
  }

  .dropdown_select {
    margin-right: 30%;
    width: 40%;


  }
  
