
.eye-makeup-submenu {
    width: 20%;
    position: absolute;
    margin-top: .1%;
    list-style: none;
    margin-left: -3%;
    text-align: center;    
  }
  
  .eye-makeup-submenu li {
    background: #E2E9FF;
    cursor: pointer;
    width: 45%;


  }
  
  .eye-makeup-submenu li a:hover {
    background:rgb(201, 167, 198);
    text-align: center;
    width:auto
    
    
  }
  
  .eye-makeup-submenu.clicked {
    display: none;
  }
  
  .eye-makeup-submenu-item {
    display: block;
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;

    
  }

  .eye_dropdown_select {

    width: 100%;

  }
  
