 .navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}


  
  .navbar__item {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 5rem;
    padding: 6px 16px;
    border-radius: 5px;
  }
