 .navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #f8f8f2;
}

.navbar__item {
    flex-basis: 8%;
    list-style-type: none;
}



  
  .navbar__item {
    text-decoration: none;
    color: rgb(7, 12, 11);
    font-size: 1.1rem;
    padding: 6px 16px;
    width:auto;
    margin: 1%;
    text-align: center
  }

  .navbar__item:hover {
    background: #E2E9FF
  }